<div class="search">
	<input type="text" autocomplete="off" class="search-input" id="local-search-input" placeholder="Search something..." /> 
	<button id="search-input-close" class="search-input-close">
		<i class="fa fa-times-circle" aria-hidden="true"></i>
	</button>
</div>
<div id="search-content" class="search-content close">
	<div class="search-result">
	<div class="search-result-title" id="local-search-title">
	    <h1>[(๑•̀ㅂ•́)و✧] 我找找..</h1>
	</div>
	<ul class="search-result-items" id="local-search-result">
	    
	</ul>
	</div>
</div>